/Champlain Movie Data/.vs/Champlain Movie Data/v17/.suo
/Champlain Movie Data/Champlain Movie Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Champlain Movie Data/Champlain Movie Data/MovieDatabase.mdf
/Champlain Movie Data/Champlain Movie Data/MovieDatabase_log.ldf
